@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

.leaflet-bottom,
.leaflet-control,
.leaflet-pane,
.leaflet-top {
  z-index: 0 !important;
}

.rdrMonth {
  width: 100% !important;
}

.rdrCalendarWrapper {
  width: 100% !important;
  font-size: 16px !important;
}

.toottip-text::before {
  position: absolute;
  top: 30%;
  left: 90%;
  content: "";
  border-top: 7px solid transparent;
  border-left: 10px solid transparent;
  border-right: 10px solid #1f2937;
  border-bottom: 7px solid transparent;
}

.dot {
  transition: transform 0.5s ease-in-out, font-size 0.5s ease-in-out; /* Add transition for the dots */
}
